### Import library

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### read from website

In [2]:
response=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

### find the table in the website

In [3]:
soup=BeautifulSoup(response.text)
table=soup.find('table')

### Upload the data into dataframe

In [4]:
postalcode=[]
borough=[]
neighborhood=[]
counter=1
for tr_cell in table.find_all('tr'):
    for td_cell in tr_cell.find_all('td'):
        if counter==1:
            postalcode.append(td_cell.text.strip())
            counter=2
        elif counter==2:
            borough.append(td_cell.text.strip())
            counter=3
        elif counter==3:
            neighborhood.append(td_cell.text.strip())
            counter=1
dict1={'PostCode':postalcode,'Borough':borough,'Neighborhood':neighborhood}
df=pd.DataFrame.from_dict(dict1)
df

,PostCode,Borough,Neighborhood
0,M1A,Not assigned,
1,M2A,Not assigned,
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
175,M5Z,Not assigned,
176,M6Z,Not assigned,
177,M7Z,Not assigned,
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,

### Remove rows with Borough is Not assigned

In [5]:
df_Toronto=df.drop(df[df['Borough']=='Not assigned'].index)
df_Toronto.reset_index(drop=True,inplace=True)
df_Toronto["Neighborhood"]=df_Toronto["Neighborhood"].str.replace('/',',')
df_Toronto

,PostCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway , Montgomery Road , Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing CentrE
101,M8Y,Etobicoke,"Old Mill South , King's Mill Park , Sunnylea ,..."
102,M8Z,Etobicoke,"Mimico NW , The Queensway West , South of Bloo..."

### Check for duplicate record

In [6]:
df_Toronto[df_Toronto.duplicated(['PostCode'])]

Empty DataFrame
Columns: [PostCode, Borough, Neighborhood]
Index: []

### shape command

In [7]:
df_Toronto.shape

(103, 3)